.get_started_button
{
    background:var(--orange);
   border-radius: 0px 0px 5px 5px;
}

.monthly_button{
    background-color: var(--orange);
}

.yearly_button{
    background-color: var(--white);
}

.available_features_container{
    border-radius: 5px 5px 0px 0px; 
}

.plan_type {
    background-color: var(--quarterSpanishWhite);
    border: 1px solid var(--lightOrange);
}

.price{
    font-size: 60px;
}