.get_started_button
{
   background-color: orange;
   border-radius: 0px 0px 5px 5px;

}

.available_features_container{
    border-radius: 5px 5px 0px 0px; 
}

.plan_type {
    background-color: #f8efe4;
    border: 1px solid #f5ddbf;
}

.price{
    font-size: 60px;
}