body{
    background-color: #F1F1F3;
}

.testimonial_description p,
.comments_container  p {
    color: #646363;
}

.profile_container {
    background-color: #FCFCFD;
}
.profile > p{
    color: black;
    font-weight: bold;
}
.read_more_button{
    background-color: #f0f0f4fa;
}
#exampleInputName,
#exampleInputEmail,
#exampleInputPassword{
    background-color: #F7F7F8;
}
.terms_of_use,
.privacy_policy{
    color:#646363
}

.sign_up_submit_button {
    background-color: var(--orange);
}
.google_sign_up_button {
    background-color: var(--antiFlashWhite);
}