.contact_section .card,
.form_section .formInput{
    background: var(--contrastWhite);
    border: 1px solid rgba(0, 0, 0, 0.074);
}

.form_section .send_message_button{
    background-color: var(--orange);
}